.main-title {
  font-size: 28px;
}

.card-headline {
 display: flex;
  align-content: center;
  justify-content: space-between;
}

.list-title {
  font-size: 24px;
  margin-top: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #d8d6d6;
}

.task-value {
  width: 70%;
}

.task-done .task-value {
  text-decoration: line-through;
}